<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()"> <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> </ion-button>
        </ion-buttons>
      <ion-title>Info</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="hero">
    <div style="
          background-image: url('https://thumbs.gfycat.com/RawMiserableArachnid-size_restricted.gif');    
          background-repeat: no-repeat;
          background-size: 100%">
      <div>
        <img *ngIf="image" src="{{image.url}}">
      </div>
      <div>
        <ion-list *ngIf="appearance">
          <ion-item>
            <ion-label *ngIf="appearance.gender == 'Male'">Gender: <ion-icon ios="ios-male" md="md-male"></ion-icon> </ion-label>
            <ion-label *ngIf="appearance.gender == 'Female'">Gender: <ion-icon ios="ios-female" md="md-female"></ion-icon> </ion-label>
            <ion-label *ngIf="bio['full-name']">Full-name: {{bio['full-name']}} </ion-label>
            <ion-label *ngIf="bio['full-name'] == ''">Full-name: No full-name </ion-label>
            <ion-label> Alias: {{bio.aliases[0]}} </ion-label>
            <ion-label>Race: {{appearance.race}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Height: {{appearance.height}}</ion-label>
            <ion-label>Birth Place: {{bio['place-of-birth']}} </ion-label>
            <ion-label>Weight: {{appearance.weight}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Occupation: {{work.occupation}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Relative: {{connection.relatives}} </ion-label>
          </ion-item>        
          <ion-item>
            <ion-label>Base: {{work.base}}   <ion-icon ios="ios-home" md="md-home"></ion-icon></ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Group-Affiliation: {{connection['group-affiliation']}}   <ion-icon ios="ios-people" md="md-people"></ion-icon> </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>  
  </ion-content>