ion-label{
    text-align: center;
}

img{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}

ion-label{
   border: 1px solid gray;
   padding: 5px;
   border-radius: 10px;
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;
   display: inline-block;
   margin: 3px;
   /* font-family: Comic Sans MS, cursive, sans-serif; */
}