<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list" *ngIf="auth.isAuthenticated()">
      <ion-icon name="list"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home" *ngIf="auth.isAuthenticated()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="quiz" *ngIf="auth.isAuthenticated()">
      <ion-icon mode="ios" ios="ios-paper"></ion-icon>
      <ion-label>Quiz</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
